---
layout: default
keywords: "goodbai,高蛋白,博客,Linux技术"
subject: "博客首页"
position: home
description: 'Goodbai的个人博客，主要内容包括：Linux技术、系统安全、网络安全、移动互联技术等，欢迎交流。'
---
<div id="homepage">
{% for post in site.posts %}
{% if post.published %} 
<div id="blogitem" class="bloglist">
	<div id="blogimg" class="center_img_m" >
		{% if post.postimg_s %}
		<img src="{{ post.postimg_s }}" id="artlogoS" width="120">
		{% else %}
		<img src="/images/goodbai_200x133.png" id="artlogoS" width="120">
		{% endif %}
	</div>
	<div id="blogtext">
		<div id="blogtitle">
			<span class="blog_title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.subject }}</a></span>
			<br><span class="blog_title_date"> {{ post.date | date:"%Y-%m-%d" }}</span>
		</div>
		<div class="bolg_desc">
			<p>{{ post.description }}</p>
		</div>
	</div>
 </div>
{% endif %}
{% endfor %}

</div>


