@media screen and (min-device-width: 901px) {
/**page 页面包含header/main/footer*/
	#page{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	#sidebar {
		width: 200px;
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
		padding-top: 1em;
		padding-bottom: 2em;
		padding-left: 3%;
		padding-right: 3%;
		float: right;
	}
	#main,#footer {
		width: 670px;
		padding-left: 3%;
		padding-right: 3%;
	}
	#header{
	/*	margin-top: 2em;
	*/
	}

	#header_menu2 {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3%;
	}
	blog_desc_in {
		margin-left: -1em;
		margin-right: -1em;
	}
	.blog_img_in img{
		max-width: 86%;	
	}
	#mebox {
		margin-top: 4em;
		margin-bottom: 3em;
		padding: 0 10% 0 7%
		
	}
	#melogo {
		float: right;
		}
	#blogitem {
		overflow: auto;
		zoom: 1;
	}
	#blogimg {
		float: left;
		margin-right: 1em;
	}
}
/*  手持设备时启用  */
@media screen and (max-device-width: 900px) {
	img, object { max-width: 100%;}
	#page{
		width: auto;
	}
	#header,#main,#footer {
		padding-left: 2%;
		padding-right: 2%;
	}
	pre{
		font-size:60%;
	}
	#melogo {
		padding-left: 2em;
		}
	.blog_img_in img {
		max-width: 96%;	
	}
	.center_img_m {
		text-align: center;
	}
        #blogimg{
                display: none;
        }
}

/*全局配置*/
* {padding: 0;margin: 0;}
a:hover { text-decoration:underline;}
a:active {text-decoration:underline;}
a {text-decoration:none;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;padding-top:1em;padding-bottom:0;}
h2,h3,h4{font-weight:bolder;}
h1 {font-size:1.4em;margin-top:1em;margin-bottom:1.2em;}
h2 {font-size:1.4em;margin-top:2em;margin-bottom:1.1em;border-bottom: 3px solid green;}
h3 {font-size:1.2em;margin-top:1.0em;margin-bottom:1.0em;}
h4 {font-size:1.1em;margin-top:0.9em;margin-bottom:0.9em;}
h5 {font-size:1.1em;margin-top:0.8em;margin-bottom:0.8em;}
h6 {font-size:1.0em;margin-top:0.7em;margin-bottom:0.7em;}

body {
	repeat-x;
	line-height: 170%;
        font-size:100%;
	font-family: Palatino, georgia, "times new roman", "宋体";
	background-color: #e8e8e8;
	word-wrap: break-word;
	word-break: normal;
	color: #333333;
/*
	background: -webkit-linear-gradient(left, #dfeead 12%,#ebf8c2 36%,#ebf8c2 62%,#dfeead 95%);
*/
}

#header{
	font-size:1.3em;
	margin-bottom: 1.2em;
/*
	padding-top: 0.35em;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #2d2d2d;
*/
/*
	filter: alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);
	-ms-filter: alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);
	background: gray;
	background: -moz-linear-gradient(top, red, rgba(0, 0, 255, 0.5));
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(rgba(7, 7, 7, 0.5)));
	background: -o-linear-gradient(top, red, rgba(0, 0, 255, 0.5));
*/
	background-color: #2d2d2d;
}
#header a:hover {
        text-decoration:none;
	color: white;
}
#header a { color: #ccc;}

#header td {
	padding: 0 1em 0 1em;
}
#header li {
	display: inline;
	margin-right: 0.5em;
}
#header .current {
	border-bottom: 4px solid green;
}
#header #goodbai {
	float: right;
	color: white;
	background-color: #000;
	padding: 0.3em; 
	margin-bottom: 1em;
}
#main {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding-top: 1em; 
	padding-bottom: 2em; 
}
#main a:link { color: blue;}
#main a:visited{ color: red;}

/*post类,配置正文中列表的css*/
#main li{
	margin-left: 3em;
/*	list-style: disc;
**/
	line-height: 170%;
}
/*
#main ul{
	margin-top: 1em;
	margin-bottom: 1em;
}
*/

#footer{
	color: gray;
	font-size: 80%;
}
/* 其他配置 */
/* 首页博文日期和描述段格式*/
#homepage p {
	margin:0;
	margin:0;	
}
#blogitem {
	border-bottom: 1px dashed rgb(219, 223, 224);
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 100%;
}
#blogimg {
	margin-right: 1em;
}
#blogLOGO {
	display: inline;
	padding-right: 1em;
}
.blog_title_date {
	font-size: 0.75em;
	color: gray;
}
.blog_title {
	font-size: 1.1em;
}
.bolg_desc {
	line-height: 150%;
	font-size: 0.85em;
	color: #666;
}
#artinfo {
	font-size: 80%;
	color: #666;
}
Matched CSS Rules

#artlogoS {
/*
	margin-top: 1em;
*/
}
.blog_desc_in {
	background-color: rgb(228, 228, 149);
	margin-bottom: 3em;
	padding: 1em;
}
.blog_img_in {
	text-align: center;
}
/*首行首字大写 */
.blog_desc_in + p:first-letter {
	font-size: 3em;
	padding: 0 0.15em 0 0;
	margin:  0.05em 0 -0.15em 0;
	line-height: 1em;
	float: left;
}


pre {
	padding: 0.75em 0.5em 0.75em 0.5em;
	border: 1px solid #CCCCCC;
	line-height: 135%;
	background-color: rgb(247, 247, 178);
	margin: 1.25em auto 1.5em auto;
	overflow: auto; 
	width: 100%; 
	font-size:85%;
}
/*
code {
	border: 1px solid #CCCCCC;
	background-color: rgb(247, 247, 178);
}
*/

#index {
	float: right;
	width: 30%;
}

em,b {
	font-weight:bolder;
	font-style: normal;
}
p {
	margin-top:1.5em;
	margin-bottom:1.0em;	
}

.manual_load {
	padding: 0.5em;
}

#melogo img {
	border: 1px solid #CCCCCC;
}
#meinfo{
	margin-top: 2em;
	margin-bottom: 3em;
}
#mechangelog{
	margin-top: 3em;
	padding-bottom: 4em;
	clear: both;
}
#post{
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 1px solid rgb(219, 223, 224);
}
blockquote {
	border-left: 4px solid #DDD;
	padding: 0 15px;
	color: #777;
}
.r {
	float: right;
}
#me {
	padding-right: 30px;
}
