/*全局配置*/
* {
	padding: 0;
	margin: 0;
}
a:hover { text-decoration:underline;}
a:active {text-decoration:underline;}
a {text-decoration:none;}

h1, h2, h3, h4, h5, h6 {font-weight:bolder;color:#111;}
h1 {font-size:1.5em;margin:1.2em;}
h2 {font-size:1.4em;margin:1.1em;}
h3 {font-size:1.3em;margin:1.0em;}
h4 {font-size:1.2em;margin:0.80em;}
h5 {font-size:1.1em;margin:0.75em;}
h6 {font-size:1.0em;margin:0.70em;}

body {
	repeat-x;
	line-height: 200%;
        font-size:100%;
	font-family: Palatino, georgia, "times new roman", "宋体";
	background-color: rgb(223, 230, 222);
}
/**page 页面包含header/main/footer*/
#page{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#header{
	width:800px;
	margin-top: 2em;
	margin-left: 1em;
	font-size:1.3em;
}

#header a:hover {
        text-decoration:none;
	color: white;
}
#header a { color: black;}
#header li {
	display: inline;
	padding: 0.1em;
/*
	background: url(/images/umi_from_gray.gif);
	box-shadow: 0px 0px 1px gray;
/*
	
}
#header .topitem:hover {
	/*background: url(/images/umi_from_green.gif);*/
}
#header_searchbox {
	font-size: 50%;
	width:150px;
}
#main {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 2em 6.5% 2em 6.5%; 
	margin: 0px 0px 0px 0px;                 
/*	box-shadow: 2px 2px 10px #aaa;
*/
}
#main a:link { color: blue;}
#main a:visited{ color: red;}

#footer{
	color: gray;
	font-size: 80%;
}
/* 其他配置 */
#disqus_thread {
	margin-top: 6em;
}

.blog_title_date {
	font-size: 90%;
	color: gray;
}
.bolg_desc {
	padding-left: 1em;
	color: gray;
}

li{
	margin-left: 3em;
	list-style: disc;
	font-size: 95%;
	line-height: 170%;
}

ul{
	margin-top: 1em;
	margin-bottom: 1em;
}

