<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--自适应屏幕-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link media="all" rel="stylesheet" href="/style/style.css" />
    <meta name="copyright" content="{{ site.url }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}</title>
  </head>

  <body>
    <div id="header">
        <!--li id="goodbai"><b>Goodbai</b></li-->
        <div id="header_menu2">
        <table >
		<tr>
		<td>
		<a href="/"> <img src="/images/about/blog_LOGO_225x150.png" id="blogLOGO"  style= "display:inline" height="75"></a>
		</td>
		<td name="home" ><a href="/index.html">首页</a></td>
		<td name="about"><a  href="/about.html">关于</a></td>
		</tr>
        </table>
        </div>
        <!--div id="header_menu">
        <ul >
        <div class="headerli"><li name="home" ><a href="/index.html">首页</a></li></div>
        <li name="about"><a  href="/about.html">关于</a></li>
        </ul>
        </div-->

    </div>

  <div id="page" class="background">

    <div id="main">
          {{ content }}
    </div>

    <div id="footer">
	<br>
        使用资源：<a href="http://pages.github.com/">Github Page</a><br>
    </div>

  </body>
<script src="/js/analytics.js"></script>
<script>
	currentname = "{{ page.position }}";
	current = document.getElementsByName(currentname)[0];
	current.className = "current";
</script>
  

</div>
</html>
