<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--自适应屏幕-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <link media="all" rel="stylesheet" href="/style/style.css" />
    <meta name="copyright" content="{{ site.url }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}</title>
  </head>

  <body>
  <div id="page" class="background">
    <div id="header">
        <div id="header_menu">
        <ul id="css3menu">
        <li name="home" class="topitem"><a href="/index.html">首页</a></li>
        <li name="about" class="topitem"><a  href="/about.html">关于</a></li>
        </ul>
        </div>

    </div>

    <div id="main">
          {{ content }}
    </div>

    <div id="footer">
	<br>
        使用资源：<a href="http://pages.github.com/">Github Page</a><br>
    </div>

  </body>
<script src="/js/analytics.js"></script>
<script>
	currentname = "{{ page.position }}";
	current = document.getElementsByName(currentname)[0];
	current.style.borderBottom = "2px solid rgb(15, 8, 199)";
</script>
  

</div>
</html>
