---
layout: default
---
  {{ content }}
    <div id="disqus_thread">
    </div>
<script type="text/javascript">
	document.write('<input type="button" id="load_comment" value="评论>>" onclick=load_disqus() />');
	//dis = document.getElementById("disqus_thread")
	//dis.style.display="block";   

	function load_disqus(){
		//to load button disivisible
                aa = document.getElementById("load_comment");
                aa.style.display = "none";

		var disqus_shortname = 'goodbai'; 
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	}
</script>
