---
layout: default
---
  {{ content }}
    <div id="comment">
    <div id="disqus_thread">
    <script type="text/javascript">
	document.write('<input type="button" id="load_comment" value="评论>>" onclick=load_disqus() />');
	//dis = document.getElementById("disqus_thread")
	//dis.style.display="block";   

	function load_disqus(){
		var disqus_shortname = 'goodbai'; 
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	}
    </script>
    </div>
 </div>
