---
layout: page
---
<div id="post">
	<h1>{% if page.title %}{{ page.title }} | {% endif %}</h1>
	<div class="bolg_desc_in"><i>
		<b>摘要: </b>{{ page.description }}
		<br><b>作者：</b><a href="/">Goodbai</a>
		<br><b>原文：</b><a href='{{page.url}}'>地址</a>
		<br><b>发表：</b>{{page.date  | date_to_string }}
	</i></div>


	{{ content }}  
</div>
<!--script>
	codes = document.getElementsByTagName("pre");
	codes[0].className = 'prettyprint linenums';
</script-->
<!--script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script-->

